* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

header nav ul li {
    margin-left: 20px;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.z-index-1 {
    z-index: 1;
}

@media (max-width:768px) {
    label[for="menuIcon"] {
        cursor: pointer;
        width: 35px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    label[for="menuIcon"]>span {
        width: 100%;
        height: 3px;
        background-color: red;
    }

    .sm-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: yellow;
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 0;
        pointer-events: none;
        transition: all 200ms linear;
    }

    input[type="checkbox"]:checked+ul.sm-screen {
        opacity: 1;
        pointer-events: all;
        left: 0;
    }
}